.navbar{
    background-image: url(/image/bklog.jpeg);
    height: 800px;
    background-size: cover;
    background-position: center;
    position: relative;
}
h1{
    padding: 10px;
    margin: auto;
    border: 1px solid blue;
    background-color: blue;
}
navbar ul{
    
}
p{
    font-size: large;
    font-style: oblique;
    font-family: sans-serif;
}